[Unit]
Description=Deliver new SD2 feedback notifications

[Timer]
OnBootSec=20s
OnUnitInactiveSec=20s
Unit=sd2-feedback-delivery.service

[Install]
WantedBy=timers.target
